.banner-image {
    background-image: 
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),url('../images/banner-img.jpg');
    position: relative;
    height: 50rem;
}

#navbar-icon {
    max-width: 3rem;
}

.award-box {
    display: flex;
    align-items: center;
    height: 7rem;
    border: 1px solid black;
    padding: 1rem;
}

#v-world-section {
    background-image: url('./images/virtual-world-img.jpg');
    background-position: 30% 40%;
    height: 37rem;
}

.colorful-img-md {
    height: 25rem;
}

.colorful-img-sm {
    height: 10rem;
}

#v-world-section-2 {
    background-image: 
    /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),url('./images/virtual-world-img.jpg');
    background-position: 30% 40%;
    height: 25rem;
}
